# API
NODE_ENV=development
API_PORT=3000

# Chain
CHAIN_ID=11155111
RPC_URL_SEPOLIA=https://eth-sepolia.g.alchemy.com/v2/<your-api-key>

# Database
DATABASE_NAME=erc7984
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/erc7984

# Envio HyperSync
HYPERSYNC_URL=https://sepolia.hypersync.xyz
HYPERSYNC_API_TOKEN=<your-api-key>

# Indexer
START_BLOCK=0
TOKEN_ADDRESS=0x066E08fabeaB12965F5aD467bbBf6954B73B9d27

# Zama FHE
INDEXER_HOLDER_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000
